.card {
  padding-left: 0;
  padding-right: 0;
  margin-top: 2vh;
}
.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-text {
  padding-left: 1vh;
  padding-right: 1vh;
}

.row {
  gap: 2.9vw;
  flex-grow: 1;
}

.card-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 840px) {
  .card-text {
    font-size: 0.6em;
  }

  .nav-link {
    font-size: 0.7em;
  }
}
@media (min-width: 340px) and (max-width: 593px) {
  .btn-primary {
    font-size: 0.45em;
  }
}
